@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

body {
  padding-top: 80px;
  background-color: black;
}

@media (max-width: 640px) {
  .hero-title {
    font-size: 2.5rem; /* Smaller font size for mobile */
  }

  .hero-subtitle {
    font-size: 1.25rem; /* Smaller font size for mobile */
  }

  .hero-button {
    font-size: 0.8rem; /* Smaller font size for mobile */
    padding: 0.5rem 1rem; /* Slightly smaller padding for mobile */
  }
}
